{% for comment_with_replies in comments %}
    <p>{{ comment_with_replies.comment.author_name }}</p>
    <p>{{ comment_with_replies.comment.content }}</p>
    <button id="{{ comment_with_replies.comment.id }}_btn" onclick="showForm('{{ comment_with_replies.comment.id }}')">Reply
    </button>
    <form id="{{ comment_with_replies.comment.id }}" style="display: none" method="post">
        {% csrf_token %}
        <input type="text" name="author_name"><br/>
        <textarea name="content"> </textarea><br>
        <input type="hidden" name="article" value="{{ article.id }}">
        <input type="hidden" name="parent_comment" value="{{ comment_with_replies.comment.id }}">
        <button type="submit">Comment</button>
    </form>
    <div class="ms-2">
        {% include 'partials/comment_with_replies.html' with comments=comment_with_replies.children %}
    </div>
{% endfor %}