<!-- Boxes -->


{#        <section class="p-3">#}
<div class="container">
    <div class="row text-center g-4 p-3">
        {% for article in articles %}

            <div class="card bg-dark text-light col-md me-2">
                <div class="card-body text-center">
                    <div class="h1 mb-3">
                        <i class="bi bi-card-list"></i>
                    </div>
                    <h3 class="card-title mb-3">{{ article.title }}</h3>
                    <p class="card-text"><small class="text-muted">{{ article.datetime }}</small></p>
                    <p class="card-text">
                                    <span class="d-inline-block text-truncate" style="max-width: 250px;">
                                       {{ article.content }}
                                    </span>
                    </p>
                    <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>

        {% endfor %}

    </div>
</div>
{#        </section>#}
