{% extends 'base.html' %}
{% load static %}

{% block title %} Admin page {% endblock %}
{% block content %}
    <section id="learn" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="{% static 'images_static/admin.svg' %}" class="img-fluid w-25" alt=""/>
                </div>
                <div class=" col-md p-5">
                    <h2>Administrare articole</h2>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit.
                    </p>
                    <a href="#" class="btn btn-light mt-3">
                        <i class="bi bi-chevron-right"></i> Read More
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3">
        <a type="button" class="btn btn-primary" role="button" href="{% url 'articles_view' %}"> List articles</a>
        <a type="button" class="btn btn-success" role="button" href="{% url 'article_create' %}">Create article</a>
        <a type="button" class="btn btn-dark" role="button" href="{% url 'admin_page' %}"> Home admin</a>
    </div>


    {% block admin_content %}{% endblock %}
{% endblock %}
