{% extends 'admin_page.html' %}

{% block title %} Blog {% endblock %}
{% block admin_content %}
    {% for article in articles %}

        {#        <p><a href="{% url 'article_detail' article.id %}"> {{ article.title }} </a></p>#}
        {#<p> <a href="/article/{{ article.id }}/"> {{ article.title }} </a> </p>#}

        <div class=" pt-1 bg-secondary">
            <div class=" container row col-lg-3">
                <div class="card me-1 mb-1 d-flex align-items-center" style="max-width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        {#                <p class="card-text">This content is a little bit longer.</p>#}
                        <p class="card-text"><small class="text-muted">{{ article.datetime }}</small></p>
                        <a class="btn btn-primary btn-sm" href="{% url 'article_detail' article.id %}" role="button">Link
                            to
                            the
                            article</a>
                        <a class="btn btn-success btn-sm" href="{% url 'article_update' article.id %}" role="button">Update
                            article</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'article_delete' article.id %}" role="button">Delete
                            article</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}