{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock %}
{% block content %}

    {#    <h2> {{ article.title }} </h2>#}
    {#    <p>{{ article.datetime }} </p>#}
    {#    <p> {{ article.content }} </p>#}
    {#    <img src="{{ article.picture.url }}">#}
    {#    <br/>#}
    {#    <h6>Leave your thoughts bellow: </h6>#}
    {#    <form action="" method="POST">#}
    {#        {% csrf_token %}#}
    {#        Article: <input type="text" name={{article.title}}/><br/>#}
    {#        <input type="text" name="author_name" placeholder="author_name"/>#}
    {#        <br/><textarea cols="140" rows="2" name="content" placeholder="content"></textarea>#}
    {#        <br/><input type="submit" value="Post"/>#}
    {#    </form>#}
    {#    <br/>#}
<script>
function showForm(commentId){
    document.getElementById(commentId).style='display: block';
    document.getElementById(commentId+'_btn').style='display: none';
}
</script>


    <section class="p-5 bg-primary p-lg-0 pt-lg-5 text-center text-sm-start">
        <h2 class=" p-3 text-center text-white">{{ article.title }}</h2>

        <div class="container">
            <div class="row g-4 col-sm">
                <div class="col-4 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="{{ article.picture.url }}"
                                 class="rounded-circle mb-3 img-fluid w-60 d-none d-sm-block"
                                 alt=""/>
                            <h5 class="card-title mb-3">Data articolului <br>{{ article.datetime }}</h5>

                            <h6>Leave your thoughts bellow: </h6>
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" name="author_name" placeholder="author name"/>
                                <textarea cols="30" rows="4" name="content" placeholder="Comentariu"> </textarea>
                                <input type="hidden" name="article" value="{{ article.id }}">
                                <button type="submit">Comment</button>
                            </form>
                            {#                            <form action="" method="POST">#}
                            {#                                {% csrf_token %}#}
                            {#        Article: <input type="text" name={{article.title}}/><br/>#}
                            {#                                <input type="text" name="author_name" placeholder="author name"/>#}
                            {#                                <textarea cols="30" rows="4" name="content" placeholder="Comentariu"></textarea>#}
                            {#                                <input type="submit" value="Post"/>#}
                            {#                            </form>#}
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi- text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-8 d-sm-flex align-items-center justify-content-between">

                    <p class="lead my-4 text-white">
                        {{ article.content }}
                </div>
            </div>


        </div>
    </section>
    {#    {% for comment in comments %}#}
    {#        {% if not comment.parent_comment %}#}
    {#            <p><b>{{ comment.author_name }}</b><small class="text-muted"> {{ comment.datetime }}</small></p>#}
    {#            <p style="margin-left: 20px">{{ comment.content }} </p>#}
    {#            {% for subcomment in comments %}#}
    {#                {% if subcomment.parent_comment == comment %}#}
    {#                    <p style="margin-left: 20px"><b>{{ subcomment.author_name }}</b><small#}
    {#                            class="text-muted"> {{ subcommentcomment.datetime }}</small></p>#}
    {#                    <p style="margin-left: 40px"> {{ subcomment.content }} </p>#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#    {% endfor %}#}

    {% include 'partials/comment_with_replies.html' %}
    {#    <!------ Sectiune comentarii ---------->#}
    {#    {% for comment in comments %}#}
    {#        {% if not comment.parent_comment %}#}
    {#            <div class="container">#}
    {#                <div class="row card card-white post">#}
    {#                    <div class="post-heading col-4">#}
    {#                        <div class="float-left image">#}
    {#                            <img src="http://bootdey.com/img/Content/user_3.jpg" class="img-circle avatar"#}
    {#                                 alt="user profile image">#}
    {#                        </div>#}
    {#                        <div class="float-left meta">#}
    {#                            <div class="title h5">#}
    {#                                <a href="#"><b>{{ comment.author_name }}</b></a>#}
    {#                                made a post.#}
    {#                            </div>#}
    {#                            <h6 class="text-muted time">{{ comment.datetime }}</h6>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="post-description col-8">#}
    {#                        <p>{{ comment.content }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% for subcomment in comments %}#}
    {#                {% if subcomment.parent_comment == comment %}#}
    {#                    <div class="container ps-5">#}
    {#                        <div class="row card card-white post ">#}
    {#                            <div class="post-heading col-4 ">#}
    {#                                <div class="float-left image">#}
    {#                                    <img src="http://bootdey.com/img/Content/user_2.jpg" class="img-circle avatar"#}
    {#                                         alt="user profile image">#}
    {#                                </div>#}
    {#                                <div class="float-left meta">#}
    {#                                    <div class="title h5">#}
    {#                                        <a href="#"><b>{{ subcomment.author_name }}</b></a>#}
    {#                                        made a post.#}
    {#                                    </div>#}
    {#                                    <h6 class="text-muted time">{{ subcomment.datetime }}</h6>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="post-description col-8">#}
    {#                                <p>{{ subcomment.content }}</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {##}
    {##}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#    {% endfor %}#}
{% endblock %}