{% extends 'admin_page.html' %}

{% block title %} Delete article {% endblock %}
{% block admin_content %}
    <p>Are you sure you want to delete {{ article.title }}</p>
    <form method="post">
        {#    cross-site referecing attac protection#}
        {% csrf_token %}
        {#        orice formular are metode. as_p genereaza paragrafe cu fiecare field #}
        {#        mai exista as_ul, as_ol, etc #}
        <button type="submit">Delete article</button>
    </form>

{% endblock %}