<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>


    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-2 fixed-top">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Articole BLOG</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'admin_page' %}" class="nav-link">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact_create' %}" class="nav-link">Contacts</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'articles_view' %}" class="nav-link">Toate Articolele</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
</body>
</html>