{% extends 'admin_page.html' %}

{% block title %} Update comment {% endblock %}
{% block admin_content %}
    <form method="post" enctype="multipart/form-data">
{#   enctype="multipart/form-data" - ne trebuie ca sa mearga upload-ul de fisiere (in cazul de fata imaginea de articol) #}
        {#    cross-site referecing attac protection#}
        {% csrf_token %}
        {#        orice formular are metode. as_p genereaza paragrafe cu fiecare field #}
        {#        mai exista as_ul, as_ol, etc #}
        {{ form.as_p }}
        <button type="submit">Update comment status</button>
    </form>

{% endblock %}