{% extends 'admin_page.html' %}

{% block title %} Blog {% endblock %}
{% block admin_content %}
    {% for comment in comments %}
        <div class="card me-1 mb-1" style="max-width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Comment at:</b> {{ comment.article }}</h5>
                <p class="card-text"><small class="text-muted">{{ comment.datetime }}</small></p>
                <p class="card-text"><b>Parent comment:</b> {{ comment.parent_comment }}</p>
                <p class="card-text"><b>Author name:</b> {{ comment.author_name }}</p>
                <p class="card-text"><b>Content:</b> {{ comment.content }}</p>
                <p class="card-text"><b>Status:</b> {{ comment.accepted }}</p>
                <a class="btn btn-success btn-sm" href="{% url 'comment_update' comment.id %}" role="button">Update
                    comment status</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}