{% extends 'base.html' %}

{% block title %} Contact {% endblock %}
{% block content%}
    <p>aaa</p>
    <p>aaa</p>
    <p>aaa</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ a }}
        <button type="submit">Save article</button>
    </form>





{% endblock %}