{% extends 'base.html' %}
{% load static %}

{% block title %} Blog {% endblock %}
{% block content %}
    <!-- Showcase -->
    <section class="bg-dark text-light pt-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between pt-3">
                <div>
                    <h1>Become a <span class="text-warning"> Blogger </span></h1>
                    <p class="lead my-4">
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.
                    </p>
                    <button class="btn btn-primary btn-lg">
                        <a class="btn btn-primary btn-lg" role="button" href="{% url 'article_create' %}">Create
                            Article</a>
                    </button>
                </div>
                <img class="img-fluid w-25 d-none d-sm-block" src="{% static 'images_static/blogpage.svg'  %}" alt=""/>
            </div>
        </div>
    </section>

    {#        <p><a href="{% url 'article_detail' article.id %}"> {{ article.title }} </a></p>#}
    {#<p> <a href="/article/{{ article.id }}/"> {{ article.title }} </a> </p>#}

    {#        <div class="card me-1 mb-1 w-50">#}
    {#            <div class="card-body">#}
    {#                <h5 class="card-title">{{ article.title }}</h5>#}
    {#                <p class="card-text">This content is a little bit longer.</p>#}
    {#                <p class="card-text"><small class="text-muted">{{ article.datetime }}</small></p>#}
    {#            </div>#}
    {#            <img src="{{ article.picture }}" class="card-img-bottom" alt="{{ article.title }}">#}
    {#            <a href="{% url 'article_detail' article.id %}" class="card-link">Link to the article</a>#}
    {#        </div>#}
    {% include 'partials/last_3_articles.html' with title='Last articles' articles=last_articles %}





{% endblock %}